name: Mirror and Deploy to EKS

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"   # Optional: runs daily at 3 AM

env:
  AWS_REGION: ap-south-1
  CLUSTER_NAME: my-eks-cluster
  DOCKERHUB_IMAGE: sevenajay/mario:latest
  ECR_REPO: mario

jobs:
  mirror-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to ECR
      run: |
        ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
        ECR_REGISTRY=$ACCOUNT_ID.dkr.ecr.${AWS_REGION}.amazonaws.com
        echo "ECR_REGISTRY=$ECR_REGISTRY" >> $GITHUB_ENV
        aws ecr get-login-password --region $AWS_REGION \
        | docker login --username AWS --password-stdin $ECR_REGISTRY

    - name: Pull image from DockerHub
      run: docker pull $DOCKERHUB_IMAGE

    - name: Tag image for ECR
      run: |
        IMAGE_TAG=$(date +%Y%m%d%H%M%S)
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
        docker tag $DOCKERHUB_IMAGE $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG

    - name: Push image to ECR
      run: docker push $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG

    - name: Update kubeconfig
      run: aws eks update-kubeconfig --name $CLUSTER_NAME --region $AWS_REGION

    - name: Deploy new image to EKS
      run: |
        kubectl set image deployment/mario \
        myapp=$ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG