name: Mirror DockerHub Image to ECR

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"   # Every day at 3 AM

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ap-south-1

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region ap-south-1 \
        | docker login --username AWS --password-stdin ${{ secrets.ECR_REGISTRY }}

    - name: Pull from DockerHub
      run: docker pull sevenajay/mario:latest

    - name: Tag Image
      run: docker tag sevenajay/mario:latest ${{ secrets.ECR_REGISTRY }}/mario:latest

    - name: Push to ECR
      run: docker push ${{ secrets.ECR_REGISTRY }}/mario:latest